@import url('https://fonts.googleapis.com/css2?family=Lakki+Reddy&display=swap');

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Add any additional styles here */


body {
  font-family: 'Lakki Reddy', sans-serif; 
  background-color: #475B63;
  text-shadow: 0 0 0px black; 
  }



/* CSS Reset */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lakki Reddy', sans-serif; 
  background-color: #475B63;
}


body {
  text-shadow: 0 0 0px black; 

}

.app {
  min-height: 100vh;
  color: #729B79; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
} */

/* Custom styles */
/* #2E2C2F
#475B63
#729B79
#BACDB0
##F3E8EE */
