.loginButton {
    padding: 10px 20px;
    background-color: #ff99aa; 
    border: 2px solid #ff1a75; 
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    margin-top: 20px;
  }
  
  .loginButton:hover {
    background-color: #ff8099; 
    border-color: #ff66a5;
  }
  