.preferenceSelector {
    margin: 20px;
    border: 2px solid #F3E8EE;
    padding: 10px;
    border-radius: 5px;
    font-family: "Varela Round", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .preferenceSelector ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .preferenceSelector li {
    padding-left: 20px;
    text-align: left;
    position: relative;
  }
  
  .preferenceSelector li::before {
    content: '❤️';
    color: #729B79;
    font-size: 1em;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .listItem {
    cursor: pointer;
    margin: 5px 0;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .listItem:hover {
    color: #BACDB0; 
  }
